<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <httpHandlers>
      <add path="*/z.axd" verb="*" type="Magicdawn.IconLib.IconResourceHandler" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Magicdawn.IconLib.RessourceHandler" verb="*" path="*/z.axd" preCondition="integratedMode" type="Magicdawn.IconLib.IconResourceHandler" />
    </handlers>
  </system.webServer>
</configuration>